.navbar-expand-lg .navbar-collapse{
    justify-content: end;
}
.social_icon{
    margin-left: -29px;
}
.social_icon ul{
    display:flex;
    gap:8px;
    justify-content: start;
}
.social_icon ul li{
    list-style: none;
}
.social_icon ul li a{
    cursor: pointer;
}
.active{
    font-weight:700;
    font-size:16px;
    color:#00afaa !important;
}
ul li a{
    text-transform: capitalize;
}
.nav-item:last-child a{
    background-color:#00afaa;
    border-radius:50px;
    border:1px solid transparent;
    transition:all 0.4s ease-in-out;
}
.nav-item:last-child a{
    color:white !important;
}
.nav-item:last-child:hover a{
    background-color:transparent;
    border:1px solid #00afaa;
    color:#00afaa !important;
}
.underline{
    max-width:90%;
    height:2px;
    background-color:rgba(0, 0, 0, 0.274);
    margin:3rem;
}
#banner{
    background-image:url('../images/ima.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

.myButton{
    background-color:#2dece6e3;
    border-radius:50px;
    border:1px solid #8ff8f5e3;
    transition:all .3s ease-in-out;
    padding:5px;
    margin:3px;
}
.myButton a{
    text-decoration:none;
    color:white;
}
.myButton:hover{
    border:1px solid tomato;
    background-color:transparent;
}
.myButton a:hover{
    color:#8ff8f5e3;
}
#flex_2{
    flex-direction: row-reverse;
}
.grid{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    margin:0 auto;
}
#developer_menu{
    max-width:600px;
    
}
.article{
    text-align:center;
}
.button{
    display:flex;
    justify-content:center;
    gap:3rem;
}
.partners>h1{
    text-align:center;  
}
.parterns_article{
    margin-top:1rem;
}
.parterns_article a{
    text-decoration:none;
}
.icon_btn{
    background:rgba(0, 0, 0, 0.822);
    width:50px;
    height:50px;
    border-radius:50px;
    font-size:35px;
    color:white;
    pointer-events:none;
    display:flex;
    justify-content:center;
    align-items:center;
}






@media (max-width:992px) {
    .grid{
        grid-template-columns: repeat(3, 1fr); 
    }
}
@media(max-width:530px){
    .grid{
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media(max-width:480px){
    /* .social_icon{
        margin-left:-30px;
    } */
}
@media(max-width:768px){
    #flex_1, #flex_2, #flex_3{
        flex-direction:column-reverse;
    }
}