.navbar-expand-lg .navbar-collapse{
    justify-content: end;
}
.social_icon{
    margin-left: -29px;
}
.social_icon ul{
    display:flex;
    gap:8px;
    justify-content: start;
}
.social_icon ul li{
    list-style: none;
}
.social_icon ul li a{
    cursor: pointer;
}
.active{
    font-weight:700;
    font-size:16px;
    color:#00afaa !important;
}
ul li a{
    text-transform: capitalize;
}
.nav-item:last-child a{
    background-color:#00afaa;
    border-radius:50px;
    border:1px solid transparent;
    transition:all 0.4s ease-in-out;
}
.nav-item:last-child a{
    color:white !important;
}
.nav-item:last-child:hover a{
    background-color:transparent;
    border:1px solid #00afaa;
    color:#00afaa !important;
}
.underline{
    max-width:90%;
    height:2px;
    background-color:rgba(0, 0, 0, 0.274);
    margin-bottom:3rem;
}
#banner{
    background-image:url('../images/ima.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

.myButton{
    background-color:#8ff8f5e3;
    border-radius:50px;
    border:1px solid #8ff8f5e3;
    transition:all .3s ease-in-out;
    padding:5px;
    margin:3px;
}
.myButton a{
    text-decoration:none;
    color:white;
}
.myButton:hover{
    border:1px solid tomato;
    background-color:transparent;
}
.myButton a:hover{
    color:#8ff8f5e3;
}




@media(max-width:480px){
    /* .social_icon{
        margin-left:-30px;
    } */
}